<div class="container w-50 mx-auto rounded bg-light p-3 shadow my-5" *ngIf="stage1">
  <form [formGroup]=" emailForm" (ngSubmit)="sendEmail()">
    <label for="email" class="mb-2">Enter your E-mail</label>
    <input type="email" id="email" class="form-control mb-3" formControlName="email">
    <button class="btn btn-outline-primary w-100">Send Verification Code</button>
    <p *ngIf="userSuccessMsg" class="alert alert-warning mt-2">{{userSuccessMsg}}</p>
    <p *ngIf="userErrorMsg" class="alert alert-danger mt-2">{{userErrorMsg}}</p>
  </form>
</div>


<div class="container w-50 mx-auto rounded bg-light p-3 shadow my-5" *ngIf="stage2">
  <form [formGroup]="verifyResetCodeFrom" (ngSubmit)="verifyCode()">
    <label for="resetCode" class="mb-2">Enter the Verification Code</label>
    <input type="text" id="resetCode" class="form-control mb-3" formControlName="resetCode">
    <button class="btn btn-outline-primary w-100">Verify</button>
    <p *ngIf="userSuccessMsg" class="alert alert-warning mt-2">{{userSuccessMsg}}</p>
    <p *ngIf="userErrorMsg" class="alert alert-danger mt-2">{{userErrorMsg}}</p>
  </form>
</div>


<div class="container w-50 mx-auto rounded bg-light p-3 shadow my-5" *ngIf="stage3">
  <form [formGroup]="resetPassForm" (ngSubmit)="resetNewPassword()">
    <label for="newPassword" class="mb-2">Enter your new password</label>
    <input type="password" id="newPassword" class="form-control mb-3" formControlName="newPassword">
    <button class="btn btn-outline-success w-100">Reset New Password</button>
    <p *ngIf="userSuccessMsg" class="alert alert-warning mt-2">{{userSuccessMsg}}</p>
    <p *ngIf="userErrorMsg" class="alert alert-danger mt-2">{{userErrorMsg}}</p>
  </form>
</div>
